<template>
  <article >
    <figure>
      <img :src="image.data.full_url" :alt="title" />
    </figure>
    <p>{{ title }}</p>
    <p>{{ desc }}</p>
    <p>{{ mais_desc }}</p>
  </article>
</template>

<script>
export default {
  name: 'project',
  props: {
    title: String,
    desc: String,
    mais_desc: String,
    image: Object
  }
}
</script>

<style lang="scss" scoped>
</style>