<template>
  <div class="container">
    <div>
      <h1 class="title">Reformosa</h1>
      <h2 class="subtitle">Reformosa website</h2>
      <ul style="background-color:lightgrey">
        <li
          v-for="language in languages"
          :key="language.id"
          @click="changeLanguage(language.id)"
        >{{ language.lang }}</li>
      </ul>
      <div class="projects">
        <Project
          v-for="project in projects"
          :key="project.id"
          :title="project.title"
          :image="project.image"
          :desc="project.desc"
          :mais_desc="project.mais_desc"
        />
      </div>
    </div>
  </div>
</template>

<script>
import Project from '~/components/Project.vue'

export default {
  components: {
    Project
  },
  computed: {
    projects() {
      return this.$store.getters.projects
    },
    languages() {
      return this.$store.state.languages
    }
  },
  methods: {
    changeLanguage(lang) {
      this.$store.commit('changeLanguage', lang)
    }
  },
  async fetch({ store }) {
    await store.dispatch('getInitialData')
  }
}
</script>

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
figure {
  width: 200px;
  height: 200px;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
</style>
